node_modules/
.turbo/
.next/
out/
lib/
coverage/
dist/
storybook-static/
playwright-report/
test-results/
.emulateurs/
*.log
.env
.env.local
.env.*.local
!.env.example
.DS_Store
*.tsbuildinfo
next-env.d.ts
